# App Configuration
PROJECT_NAME=DevFlow
API_V1_STR=/api/v1
SECRET_KEY=9a15f03d5267bb56c28f9d6c4d4be5c2cebb910609ea8b584d4fa7ba9b14b872
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database Configuration
POSTGRES_SERVER=localhost
POSTGRES_USER=devflow
POSTGRES_PASSWORD=devflow_password
POSTGRES_DB=devflow
POSTGRES_PORT=5432

# Redis & Celery Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# GitHub Integrations (To be set up in Phase 2)
GITHUB_CLIENT_ID=mock_client_id
GITHUB_CLIENT_SECRET=mock_client_secret
GITHUB_REDIRECT_URI=http://localhost:3000/api/auth/callback/github

# Fernet Encryption Key (for encrypting tokens in the DB)
# You can generate one via: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=ZTMxYzg5NmFiY2RlZjAxMjM0NTY3ODlhYmNkZWYwMTI=
